@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

















#header4-f H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 80px;
  color: #ffffff;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f78204;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-article P {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f78204;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__text DIV {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f78204;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-8 .mbr-article P {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#msg-box3-8 .mbr-article UL {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-a H1 {
  font-family: 'Oxygen', sans-serif;
}
#slider-a P {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #f78204;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-b .mbr-article P {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#msg-box3-b .mbr-article UL {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
  color: #f78204;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-article P {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#msg-box3-d .mbr-article UL {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
